<h2>Lista Heroes</h2>

<ul class="heroes" >
    <li *ngFor="let item of heroes" (click)="capturarHeroe(item)" [ngClass]="{'selected': item===heroe}">
        <span class="badge">{{item.id}}</span> {{ item.nombre }}
    </li>
</ul>
<!-- 
<h2>Detalle: {{heroe.nombre | uppercase}}</h2>

<div>
    <span>Id:</span> {{heroe.id}}
</div>

<div>
    <label for="nombre">Nombre del Heroe</label>
    <input type="text" id="nombre" [(ngModel)]="heroe.nombre" placeholder="Nombre"  >
</div> -->
<app-detalle-heroe></app-detalle-heroe>